.msg-container{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 20px;
}
.msg{
    display: flex;
    gap:10px;
    width:60%;
  
   &>:last-child{
    display:none;
   
    
   }
  &:hover{
    &>:last-child{
        display: flex;
        gap: 10px;
        &>:first-child{
            cursor: pointer;
        }
        &>:last-child{
            opacity: 0.71;
        }
    }
  }
}

.reply{
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    width:100%;
    &>:first-child{
        background-color: #ebebeb;
        padding: 10px 15px;
        border-radius: 8px;
        max-width: 60%;
        line-break:anywhere;
    }
    &>:nth-child(2){
        position: relative;
        display: none;
        border-radius: 25px;
        background-color: #ebebeb;
        width:27px;
        height:27px;
    }
    &:hover{
        &>:nth-child(2){
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }
    }

}
.reply-input{
    width: 100%;
    position: absolute;
    bottom:0;
    background-color: #ebebeb;
    outline: none;
    border:1px solid grey;
    padding: 4px 0px 4px 8px;
    z-index: 10;
}
.params{
    background-color:  #f9f7f7;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 12;
    top: -165%;
    left:-175%;
    padding: 5px;
    border-radius: 4px;
    span{
        color: grey;
        font-size: 14px;

        &:hover{
            background-color: #ebebeb;
        }
    }
    
}