{% block content %}
<h1>hello</h1>
<a href="/auth/google">Gmail Login</a>
<br>
<p>Login or Register with:</p>
 
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
 
{% endblock %}